{%- macro alias_block(deps, context) -%}
    {%- for dep in deps %}
    {%- if dep.id in context.workspace_members %}{% continue %}}{% endif %}{# Workspace member repositories are not defined, skip adding their labels here #}
    {%- if dep | get(key="alias", default=Null) %}
    {%- set crate = context.crates | get(key=dep.id) %}
    Label("{{ crate_alias(name = crate.name, version = crate.version, target = crate.name) }}"): "{{ dep.alias }}",
    {%- endif %}
    {%- endfor %}
{%- endmacro alias_block -%}
{%- macro feature_block(deps_set, context) %}
    {%- if deps_set.common | length %}
    _COMMON_CONDITION: {
        {{ self::alias_block(deps = deps_set.common, context = context) | indent }}
    },
    {%- endif %}
    {%- if deps_set.selects | length %}
    {%- for condition, deps in deps_set.selects %}
    "{{ condition | addslashes }}": {
        {{ self::alias_block(deps = deps, context = context) | indent }}
    },
    {%- endfor %}
    {%- endif %}
{%- endmacro feature_block -%}
{
    {%- for id, path in context.workspace_members %}
    {%- set workspace_member = context.crates | get(key=id) %}
    "{{ path }}": {
    {%- if deps_type in ["normal"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="deps", default=default_feature_map) %}
    {%- elif deps_type in ["normal-dev"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="deps_dev", default=default_feature_map) %}
    {%- elif deps_type in ["proc-macro"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="proc_macro_deps", default=default_feature_map) %}
    {%- elif deps_type in ["proc-macro-dev"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="proc_macro_deps_dev", default=default_feature_map) %}
    {%- elif deps_type in ["build"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="build_deps", default=default_feature_map) %}
    {%- elif deps_type in ["build-proc-macro"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="build_proc_macro_deps", default=default_feature_map) %}
    {%- endif %}
        {%- if features_set.required | length %}
        _REQUIRED_FEATURE: {
            {{ self::feature_block(deps_set = features_set.required, context = context) | indent }}
        },
        {%- endif %}
        {%- if features_set.optional | length %}
        {%- for feature, deps_set in features_set.optional %}
        "{{ feature | addslashes }}": {
            {{ self::feature_block(deps_set = deps_set, context = context) | indent }}
        },
        {%- endfor %}
        {%- endif %}
    },
    {%- endfor %}
}
