{%- macro dep_block(deps, context) -%}
    {%- for dep in deps %}
    {%- if dep.id in context.workspace_members or not dep.target %}{% continue %}}{% endif %}{# Workspace member repositories are not defined, skip adding their labels here #}
    {%- set crate = context.crates | get(key=dep.id) %}
    "{{ dep | get(key="alias", default=crate.name) }}": Label("{{ crate_alias(name = crate.name, version = crate.version, target = dep.target) }}"),
    {%- endfor %}
{%- endmacro dep_block %}
{%- macro feature_block(deps_set, context) -%}
    {%- if deps_set.common | length %}
    _COMMON_CONDITION: {
        {{ self::dep_block(deps = deps_set.common, context = context) | indent }}
    },
    {%- endif %}
    {%- if deps_set.selects | length %}
    {%- for condition, deps in deps_set.selects %}
    "{{ condition | addslashes }}": {
        {{ self::dep_block(deps = deps, context = context) | indent }}
    },
    {%- endfor %}
    {%- endif %}
{%- endmacro feature_block -%}
{
    {%- for id, path in context.workspace_members %}
    {%- set workspace_member = context.crates | get(key=id) %}
    "{{ path }}": {
    {%- if deps_type in ["normal"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="deps", default=default_feature_map) %}
    {%- elif deps_type in ["normal-dev"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="deps_dev", default=default_feature_map) %}
    {%- elif deps_type in ["proc-macro"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="proc_macro_deps", default=default_feature_map) %}
    {%- elif deps_type in ["proc-macro-dev"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="proc_macro_deps_dev", default=default_feature_map) %}
    {%- elif deps_type in ["build"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="build_deps", default=default_feature_map) %}
    {%- elif deps_type in ["build-proc-macro"] %}
    {%- set_global features_set = workspace_member.feature_dep_maps | get(key="build_proc_macro_deps", default=default_feature_map) %}
    {%- else %}
    {{ throw(message= "Unexpected dependency type '" ~ deps_type ~ "' for '" ~ id ~ "'") }}
    {%- endif %}
        {%- if features_set.required | length %}
        _REQUIRED_FEATURE: {
            {{ self::feature_block(deps_set = features_set.required, context = context) | indent }}
        },
        {%- endif %}
        {%- if features_set.optional | length %}
        {%- for feature, deps_set in features_set.optional %}
        "{{ feature | addslashes }}": {
            {{ self::feature_block(deps_set = deps_set, context = context) | indent }}
        },
        {%- endfor %}
        {%- endif %}
    },
    {%- endfor %}
}
